body {
  color: black;
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  color: whitesmoke;
  box-sizing: border-box;
  background: linear-gradient(black, rgb(51, 50, 50), gray);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body,
#header,
nav ul,
.details {
  margin: 0;
}

#header,
#header-img,
#nav-bar {
  padding: 0 5px;
}

/*=======================================================*/
/*=====================HEADER STYLING====================*/

header {
  background-color: black;
  background-image: url(images/grill.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 360px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*=============HEADER IMG STYLING==============*/

.logo {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-img {
  width: 100%;
  margin: 0 5px;
}

/*================NAV-BAR STYLING===============*/

#nav-bar {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav ul li {
  padding: 0 8px;
}

nav ul li a {
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 1px;
  color: whitesmoke;
}

.bord {
  border-right: 1px solid whitesmoke;
}

/*========================================================*/
/*=================H2 DESCRIPTION STYLING=================*/

#description {
  margin: 20px 5px;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 4px;
}

/*========================================================*/
/*========================HR STYLING======================*/

hr {
  margin: 0 10px;
  border: 1px solid whitesmoke;
}

/*========================================================*/
/*====================CONTAINER STYLING===================*/

.container {
  margin: 10px 0;
  padding: 10px 20px;
  max-width: 1200px;
}

.ad {
  margin: 5px 5px;
}

.cars {
  width: 100%;
  box-shadow: 2px 2px 2px black;
}

p {
  text-align: center;
}

.details {
  font-size: 11px;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 15px;
}

/*========================================================*/
/*=====================VIDEO STYLING======================*/

#video {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

/*========================================================*/
/*===================P OWNER STYLING======================*/

#owner {
  margin: 0 10px;
  font-size: 15px;
  letter-spacing: 2px;
  color: black;
}

/*========================================================*/
/*======================FORM STYLING======================*/

#form {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#email {
  width: 100%;
  margin: 5px 5px;
}

/*===============BUTTON STYLING================*/

#submit {
  margin: 5px 5px;
  width: 100px;
  height: 35px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

/*========================================================*/
/*======================FOOTER STYLING====================*/
