body {
  color: black;
  font-family: "Questrial", sans-serif;
  text-align: center;
  box-sizing: border-box;
  background: linear-gradient(black, rgb(51, 50, 50), gray);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body,
#header,
nav ul,
.details {
  margin: 0;
}

#header,
#header-img,
#nav-bar {
  padding: 0 5px;
}

body,
nav ul li a,
#submit:hover {
  color: whitesmoke;
}

nav ul li a,
.options,
#submit {
  font-size: 10px;
}

body,
#submit {
  text-transform: uppercase;
}

.container,
#video {
  margin: 10px 5px;
}

#email,
#submit {
  box-shadow: 2px 2px 2px rgb(44, 37, 37);
}

#pricing,
#owner {
  margin: 15px 10px;
}

/*=======================================================*/
/*=====================HEADER STYLING====================*/

header {
  position: sticky;
  top: 0;
  background-color: black;
  background-image: url(images/grill.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 360px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*============HEADER IMG STYLING=============*/

.logo {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-img {
  width: 100%;
}

/*===============NAV-BAR STYLING==============*/

#nav-bar {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav ul li {
  padding: 0 8px;
}

nav ul li a {
  text-decoration: none;
  letter-spacing: 1px;
}

.bord {
  border-right: 1px solid whitesmoke;
}

/*========================================================*/
/*=================H6 DESCRIPTION STYLING=================*/

#description {
  margin: 15px 5px;
  letter-spacing: 5px;
  word-spacing: 7px;
}

/*========================================================*/
/*========================HR STYLING======================*/

hr {
  margin: 10px 10px;
  border: 1px solid whitesmoke;
}

/*========================================================*/
/*====================CONTAINER STYLING===================*/

.container {
  max-width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.ad {
  margin: 5px 5px;
}

.cars {
  width: 100%;
  box-shadow: 3px 3px 3px black;
}

.details {
  font-size: 11px;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 15px;
}

/*========================================================*/
/*=========================PRICING========================*/

h3 {
  letter-spacing: 3px;
}

#pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.options {
  padding: 0 10px;
  border: 2px solid black;
}

/*========================================================*/
/*=====================VIDEO STYLING======================*/

#video {
  display: flex;
  justify-content: center;
}

/*========================================================*/
/*===================P OWNER STYLING======================*/

#owner {
  font-size: 15px;
  letter-spacing: 2px;
  color: black;
  text-shadow: 2px 2px 2px rgb(44, 37, 37);
}

/*========================================================*/
/*======================FORM STYLING======================*/

#form {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#email {
  width: 300px;
  height: 25px;
  margin: 5px 5px;
}

/*===============BUTTON STYLING================*/

#submit {
  margin: 5px 10px;
  width: 100px;
  height: 35px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#submit:hover {
  background-color: rgb(179, 17, 17);
  border: 1px solid rgb(179, 17, 17);
  font-weight: bold;
}

/*========================================================*/
/*======================FOOTER STYLING====================*/

footer {
  color: black;
  padding: 10px 10px;
}

/*==================================================================*/
/*==================MEDIA QUERY / MIN-WIDTH 460 PX==================*/

@media screen and (min-width: 460px) {
  .logo {
    width: 100px;
    padding: 0 5px;
  }

  nav ul li {
    padding: 0 10px;
  }

  nav ul li a {
    padding: 5px 5px;
  }

  #description {
    letter-spacing: 6px;
    word-spacing: 9px;
  }

  .details {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .options {
    padding: 10px 10px;
  }

  #video {
    margin: 20px 5px;
  }
}

/*==================================================================*/
/*==================MEDIA QUERY / MIN-WIDTH 720 PX==================*/

@media screen and (min-width: 720px) {
  header {
    background-size: 380px;
    background-position-x: 85px;
  }

  .logo {
    width: 130px;
    padding: 0 15px;
  }

  nav ul li a {
    font-size: 15px;
  }

  #description {
    letter-spacing: 7px;
    word-spacing: 12px;
    font-size: 18px;
  }

  .details {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .options {
    padding: 10px 10px;
  }

  .package {
    font-size: 19px;
  }

  p {
    font-size: 18px;
  }

  #video {
    margin: 25px 5px;
  }

  #owner {
    font-size: 18px;
  }
}

/*===================================================================*/
/*==================MEDIA QUERY / MIN-WIDTH 1200 PX==================*/

@media screen and (min-width: 1200px) {
  header {
    background-size: 700px;
    background-position-x: 160px;
  }

  .logo {
    width: 200px;
    margin-left: 15px;
  }

  #nav-bar {
    margin-right: 10px;
  }

  nav ul li {
    padding: 0 15px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #description {
    margin: 20px 5px;
    letter-spacing: 10px;
    word-spacing: 25px;
    font-size: 25px;
    text-shadow: 3px 3px 3px black;
  }

  .ad {
    margin: 5px 25px;
  }

  .details {
    font-size: 20px;
    word-spacing: 3px;
    margin-bottom: 25px;
  }

  .options {
    padding: 15px 25px;
  }

  .package {
    font-size: 25px;
  }

  p {
    font-size: 20px;
  }

  #owner {
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 5px;
  }

  #email {
    width: 400px;
    margin: 10px 10px;
  }

  #submit {
    width: 150px;
    height: 50px;
    margin: 15px 10px;
    font-size: 15px;
  }


  /*===================================================================*/
/*===================MEDIA QUERY / MIN-WIDTH 1330 PX===================*/

@media screen and (min-width: 1330px) {
  header {
    background-size: 700px;
    background-position-x: 215px;
  }
}
  /*=================================================================*/